%link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/new.css"}
#main

  
  
  %h1{:class => "text-align:center d-flex justify-content-center" } Create New Question
  .card.bg-primary
    
    #form.d-flex.justify-content-center
      =form_for [@course, @q], method: :post do |f|
        %span{:class => "text-center"}
          =f.label :qname, "Question text:"
          =f.text_field :qname, :placeholder => "Enter question to display"
        %br
        =f.label :type, "Question type:"
        =f.select :type, question_types, :class => 'custom-select'
        %br
        =f.label :qcontent, "Options:", :id => 'question_qcontent_label'
        =f.text_area :qcontent, :placeholder => "Enter each on new line:\nA\nB\nC..."
        %br
        %button{:id => "add_option", :type => "button"} Add Option 
        %button{:id => "remove_option", :type => "button"} Remove Option
        %br
        =f.label :answer, 'Answer:'
        =f.text_field :answer, :placeholder => "Enter correct option"
        %br
        =f.label :image, "Image:"
        =f.file_field :image, :accept => 'image/png,image/gif,image/jpeg,image/pdf', :class => 'btn-light', :id => 'file_input'
        %br
        %br
        =f.submit "Create question", :id => 'submit'

  #bottom.d-flex.justify-content-center
    =link_to "Back to question index", course_questions_path(@course), :method => :get
