#main

  #form
    =form_for [@course, @q], method: :post do |f|
      =f.text_field :qname
      =f.select :type, question_types
      =f.text_area :qcontent
      =f.submit "Create question"

  #bottom
    =link_to "Back to question index", course_questions_path(@course)
