#main
  %ol.breadcrumb
    %li.breadcrumb-item= link_to "Courses", courses_path
    %li.breadcrumb-item.active= @course.name
  .card-body
    %h5.card-title= @course.name
    %h6.card-subtitle= @course.daytime
    -if params[:all]
      =render :partial => "all_questions"
    -elsif !!params[:dateArr]
      =render :partial => "questions_on_date"
    -else
      =render :partial => 'by_date'

