%br

.row
  .col-med
    %h2 
      %span= octicon "unverified", :height => 32
      In-class questions

%br

.row
  .col-med
    %h3= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, :class => "btn btn-primary btn-lg"

%br

%hr 

-# .row
-#   .col-med
-#     %h5 Admin login
-# 
-# = form_for(resource, id: :login, as: resource_name, url: session_path(resource_name)) do |f|
-#   .row.form-group.small
-#     = f.label :email, class: "col-form-label col-sm-1"
-#     .col-sm
-#       = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .row.form-group.small
-#     = f.label :password, class: "col-form-label col-sm-1"
-#     .col-sm
-#       = f.password_field :password, autocomplete: "current-password"
-#   .row-form-group.small
-#     .col-sm
-#       = f.submit "Log in"
-# 
-# %hr 

.row
  .col-med
    %p 
      Code for this application is available on Github and is licensed under terms
      of the GPL v3.  Post bug reports on
      <a href="https://github.com/jsommers/icqapp/issues">the issue tracker</a>.
    %p 
      Copyright 2019 Joel Sommers.  All rights reserved.

.row
  .col-med
    %h3= link_to "Research links", "https://jsommers.github.io/", :class => "btn btn-success"
