#main
  %ol.breadcrumb
    %li.breadcrumb-item Courses

  %table.table
    %tr
      %th Name
      %th Meeting times
      -if !current_user.student?
        %th # Students
    -@courses.each do |c|
      %tr
        %td= link_to c.name, course_path(c), :class => "btn btn-light"
        %td= c.daytime
        -if !current_user.student?
          %td= "#{c.students.count} FIXME: link to student report"

