#main
  -if @activepoll
    =render :partial => "active"
  -else
    =render :partial => "noactive"

  %br
  %p#refresh= link_to "Refresh", course_path(@course), :class => "btn btn-primary"

  #bottom

