.auth {
}

.flash {
}

.small {
  font-size: smaller;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.smile {
  color: yellow;
  vertical-align: center;
}

.imgwide {
  width: 100%;
  text-align: center;
}
