.auth {
}

.flash {
}

.small {
  font-size: smaller;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.smile {
  color: yellow;
  vertical-align: center;
}

.icon {
  color: yellow;
  vertical-align: center;
}

.imgwide {
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

.vertical_orientation {
  font-size: 7pt;
  font-weight: normal;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  -webkit-writing-mode: vertical-lr;
  -webkit-text-orientation: mixed;
}

.small {
  font-size: 8pt;
}

.green {
  color: green;
}

.red {
  color: red;
}
