#accordion{
    width: 50%;
    margin: auto;
}

#q_report_header{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card_heading{
    padding: 1rem;
}

.card_body{
    padding: 1rem;
}